In [2]:
ret_01 = 1
CCI = 2
RMW_63 = 3 

top20_features= [ret_01,
                CCI,
                RMW_63]

for i in top20_features:
    a = str(i)
    print(a)

1
2
3

In [5]:
import pandas as pd

In [16]:
#df_feature = pd.read_csv('top20_features.csv')
df_feature = pd.read_csv('C:/Users/Owner/Documents/Majid/Stock_Pred_Crypto/majid_junk.csv')
df_feature.columns =['feature20_name', 'rank_inv']


def top_feature_out(df_):
    a = []
    b = []
    for i in df_.iloc[:,0]:
        a.append(i.lower())
        #b.append(eval(i))
    return a

In [17]:
df_feature

   feature20_name  rank_inv
0           ret_3         2
1           ret_5         3
2          ret_10         4
3          ret_21         5
4          ret_42         6
5          ret_63         7
6         ret_126         8
7         ret_252         9
8           bb_up        10
9      bb_squeeze        11
10         bb_low        12
11             HT        13
12          sar_n        14
13            adx        15
14           adxr        16
15            apo        17
16            ppo        18
17       aaronosc        19
18            bop        20
19            cci        21
20           macd        22
21    macd_signal        23
22      macd_hist        24
23            rsi        25
24       stochrsi        26
25          stoch        27
26         ultosc        28
27          willr        29
28            atr        30
29           natr        31

In [19]:
a = top_feature_out(df_feature)
print(a)

['ret_3', 'ret_5', 'ret_10', 'ret_21', 'ret_42', 'ret_63', 'ret_126', 'ret_252', 'bb_up', 'bb_squeeze', 'bb_low', 'ht', 'sar_n', 'adx', 'adxr', 'apo', 'ppo', 'aaronosc', 'bop', 'cci', 'macd', 'macd_signal', 'macd_hist', 'rsi', 'stochrsi', 'stoch', 'ultosc', 'willr', 'atr', 'natr']